
.orbit-container {
	height: auto !important;
}

.orbit-previous {
	left: 0;
}

.orbit-next {
	right: 0;
}

.orbit-slide {
	box-sizing: border-box;
	max-height: none;

	.board {
		position: relative;
	}

	.tiles {
		display: flex;
		width: 95%;
		margin-left: auto;
		margin-right: auto;
		height: 100%;
		justify-content: center;
	}

	.tile {
		position: relative;
		width: 24.5%;
		height: 100%;
		border: 1px solid $white;
		margin: 0 5px;

		&:first-of-type {
			margin: 0 5px 0 0;
		}

		&:last-of-type {
			margin: 0 0 0 5px;
		}

		@include breakpoint(medium) {
			width: 32.5%;
		}

		@include breakpoint(small) {
			width: 49.5%;
		}
	}

	.tile-content {
		line-height: 1em;
	}

	.calendar {
		top: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		position: relative;
		padding: 1em;
		display: flex;
		justify-content: center;
		flex-direction: column;
		background-color: $white;
		color: $black;
		text-align: center;

		.month,
		.year {
			font-size: 10px;
		}

		.day {
			font-size: 30px;
			line-height: 1em;

			sup {
				font-size: 10px;
				vertical-align: super;
			}
		}
	}

	.location {
		width: 100%;
		float: none;
		padding: 1em;
		color: $white;
		font-size: 14px;

		span {
			display: block;
		}

		.time,
		.title {
			font-weight: 600;
		}

		.title {
			padding: 4px 0
		}
	}
}
