@mixin visually-hidden() {
	display: inline-table;
	position: absolute;
	width: 1px;
	height: 1px;
	z-index: -1;
	opacity: 0;
	border: inset -1px;
	visibility: visible;
}

@mixin center() {
	margin-right: auto;
	margin-left: auto;
}